{% include base_path %}

<!-- start custom head snippets -->

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Md Raihan Khan",
  "givenName": "Raihan",
  "familyName": "Khan",
  "url": "https://kraihan.github.io/",
  "image": "https://kraihan.github.io/images/IMG_3749.JPG",
  "jobTitle": "Lecturer in Electrical and Electronic Engineering",
  "worksFor": {
    "@type": "CollegeOrUniversity",
    "name": "North Western University, Bangladesh"
  },
  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": "Khulna University of Engineering and Technology (KUET)"
  },
  "knowsAbout": [
    "Deep Learning",
    "Generative Modeling",
    "Optimal Transport",
    "Geometry-aware Deep Learning",
    "SPD Manifold Learning",
    "EEG Signal Processing",
    "Computer Vision"
  ],
  "email": "mailto:kraihan918@gmail.com",
  "sameAs": [
    "https://scholar.google.com/citations?user=E3iFEuUAAAAJ&hl=en",
    "https://orcid.org/0009-0004-2461-5461",
    "https://github.com/kraihan",
    "https://www.kaggle.com/khan1803115",
    "https://www.facebook.com/raihan1803115"
  ]
}
</script>
