---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on
  <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

---

# Journal Publications

**1. DAFNet: A Dual-path Attention Fusion Network for EEG Emotion Recognition via CNN and Graph-based Global Modeling**  
*Array, Elsevier, 2025*  
**Authors:** Md Raihan Khan, Airin Akter Tania, Tanjum Arifen Bushra, Jahanara Pritha, Mohiuddin Ahmad  
**Link:** [ScienceDirect](https://www.sciencedirect.com/science/article/pii/S2590005625001882)

**2. A Comparative Study of Time–Frequency Features Based Spatio-Temporal Analysis with Varying Multiscale Kernels for Emotion Recognition from EEG**  
*Biomedical Signal Processing and Control, Elsevier, 2025*  
**Authors:** Md Raihan Khan, Airin Akter Tania, Mohiuddin Ahmad  
**Link:** [ScienceDirect](https://www.sciencedirect.com/science/article/abs/pii/S1746809425003374)

**3. Multiclass Liver Disease Prediction with Adaptive Data Preprocessing and Ensemble Modeling**  
*Results in Engineering, Elsevier, 2025*  
**Authors:** Abdullah Al Ahad, Bibhakar Das, Md Raihan Khan, Nitol Saha, Abu Zahid, Mohiuddin Ahmad  
**Link:** [ScienceDirect](https://www.sciencedirect.com/science/article/pii/S259012302400313X)

---

# Conference Publications

**4. Equivariant Geodesic Networks: Geometry Preserving Learning on Riemannian Manifolds**  
*ICLR 2026 – Under Review*  
**Authors:** Md Raihan Khan, Airin Akter Tania  
**Link:** [OpenReview](https://openreview.net/forum?id=MNOrwRlchp)

**5. AutoLumNet: A Bi-Branch Exposure-Aware Network for Low- and High-Exposure Image Enhancement**  
*ICLR 2026 – Under Review*  
**Authors:** Airin Akter Tania, Md Raihan Khan, Mohiuddin Ahmad  
**Link:** [OpenReview](https://openreview.net/forum?id=F536F9LvVH)

**6. Searching for the Best Polynomial Approximation for the Accurate Log Matrix Normalization in Global Covariance Pooling**  
*ICLR 2026 – Under Review*  
**Authors:** Md Rifat Ur Rahman, Md Raihan Khan  
**Link:** [OpenReview](https://openreview.net/forum?id=TXI6Abe7I2)

**7. Mental Stress Detection from EEG Signals Using Comparative Analysis of Random Forest and Recurrent Neural Network**  
*IEEE iCACCESS, 2024*  
**Authors:** Md Raihan Khan, Mohiuddin Ahmad  
**Link:** [IEEE Xplore](https://ieeexplore.ieee.org/abstract/document/10499496)

**8. Recognition of Bengali Vowels from Auditory Evoked Potentials Using CNN**  
*IEEE SPICSCON, 2024*  
**Authors:** Tithi Das, Md Raihan Khan, Md Mahbub Hasan  
**Link:** [IEEE Xplore](https://ieeexplore.ieee.org/abstract/document/10940507/)

**9. Smart Classroom Automation: A Fusion of AI with Voice, Gesture, and Face Recognition Attendance System**  
*IEEE iCACCESS, 2024*  
**Authors:** Md Raihan Khan, Abdullah Al Ahad, Airin Akter Tania, Tithi Das, Bibhakar Das  
**Link:** [IEEE Xplore](https://ieeexplore.ieee.org/abstract/document/10499545/)

**10. Custom Dataset-driven Unsupervised Low-light Image Enhancement using 2D CNN**  
*IEEE QPAIN, 2025*  
**Authors:** Airin Akter Tania, Md Raihan Khan, Mohiuddin Ahmad  
**Link:** [IEEE Xplore](https://ieeexplore.ieee.org/abstract/document/11171791/)

**11. Machine Learning Techniques for Brain Stroke Analysis and Prediction**  
*IEEE SPICSCON, 2024*  
**Authors:** Rabita Hasan, Sheikh Md Rabiul Islam, Md Raihan Khan  
**Link:** [IEEE Xplore](https://ieeexplore.ieee.org/abstract/document/10941346/)
